body {
    margin: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "PingHei", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    color: #666;
    background: #EDF0F0;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p, h1, h2, h3, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.list-inline li {
    float: left;
}

.contain {
    width: 1180px;
    margin: 0 auto;
}

.main {
    width: 870px;
}

.btn-scroll {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 140px;
    height: 70px;
    margin: 0 0 0 -70px;
    background: url(../img/home/up.png);
    z-index: 800;
    cursor: pointer;
    opacity: 1;
}

.indoor_page_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.scene-bar {
    position: fixed;
    z-index: 2000;
    right: 18px;
    top: 50%;
    margin: -70px 0 0 0;
}

.scene-bar li {
    margin: 0 0 16px 0;
}

.scene-bar li a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0.3;
}

.scene-bar li.choose a {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    opacity: 1;
}

.scene-bar li:last-child {
    margin: 0;
}

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/home/banner-bg.jpg);
    background-position: center 0;
    background-size: cover;
    text-align: center;
}

.banner .banner-font-wrap {
    top: 28%;
    position: relative;
    z-index: 5;
}

.banner .banner-font {
    width: 644px;
    height: 311px;
    margin: 0 auto 20px;
    background: url(../img/home/banner-font.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner p {
    width: 941px;
    height: 48px;
    margin: 0 auto;
    background: url(../img/home/banner-sub-font.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.bar-fix-up {
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    animation: bar-slide-up 0.5s;
}

.bar-fix-down {
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: -77px;
    left: 0;
    animation: bar-slide-down 0.5s;
}

.scene-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.scene-inner {
    height: 100%;
}

.scene1 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene1-bg.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene1 .triangle {
    position: absolute;
    left: 50%;
    top: 20%;
    margin: 0 0 0 -576px;
    width: 1153px;
    height: 507px;
}

.scene1 .triangle li {
    position: absolute;
    background-repeat: no-repeat;
}

.scene1 .triangle li:first-child {
    width: 150px;
    height: 135px;
    left:0;
    top:0;
    background-image: url(../img/home/scene1-triangle1.png);
}

.scene1 .triangle li:nth-child(2) {
    top: 7%;
    right: 3%;
    width: 173px;
    height: 111px;
    background-image: url(../img/home/scene1-triangle2.png);
}

.scene1 .triangle li:nth-child(3) {
    top: 76%;
    left: 20%;
    width: 107px;
    height: 69px;
    background-image: url(../img/home/scene1-triangle3.png);
}

.scene1 .triangle li:nth-child(4) {
    right: 20px;
    width: 119px;
    height: 113px;
    background-image: url(../img/home/scene1-triangle4.png);
    bottom: 10%;
    right: 17%;
}

.scene1 .scene1-font {
    position: relative;
    top: 23%;
}

.scene1 .scene1-font h3 {
    font-size: 60px;
    color: #88b442;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene1 .scene1-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.scene1 .scene1-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene1 .scene1-font .icon {
    position: relative;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -175px;
    opacity: 1;
}

.scene1 .scene1-font .icon ul {
    position: relative;
}

.scene1 .scene1-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene1 .scene1-font .icon ul li:first-child {
    background-image: url(../img/home/scene1-icon-led.png);
}

.scene1 .scene1-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene1-icon-wdj.png);
}

.scene1 .scene1-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene1-icon-music.png);
}

.scene1 .scene1-font .icon ul li:nth-child(4) {
    margin-right: 0;
    background-image: url(../img/home/scene1-icon-coffie.png);
}

.scene2 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene2-bg.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene2 .grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/home/scene2-grid.png);
}

.scene2 .light {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -680px;
    width: 1357px;
    height: 823px;
    background-image: url(../img/home/scene2-light-bg.png);
}

.scene2 .light li {
    position: absolute;
    width: 144px;
    height: 508px;
    background-repeat: no-repeat;
}

.scene2 .light li:first-child {
    background-image: url(../img/home/scene2-light.png);
    left: 13%;
    top: 35%;
}

.scene2 .light li:nth-child(2) {
    background-image: url(../img/home/scene2-light.png);
    right: 13%;
    top: 10%;
}

.scene2 .scene2-font {
    position: relative;
    top: 23%;
}

.scene2 .scene2-font h3 {
    font-size: 60px;
    color: #008cee;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene2 .scene2-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.scene2 .scene2-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene2 .scene2-font .icon {
    position: relative;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -125px;
}

.scene2 .scene2-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene2 .scene2-font .icon ul li:first-child {
    background-image: url(../img/home/scene2-icon-trends.png);
}

.scene2 .scene2-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene2-icon-safe.png);
}

.scene2 .scene2-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene2-icon-cam.png);
}

.scene2 .scene2-font .icon ul li:last-child {
    margin-right: 0;
}

.scene3 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene3-bg.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene3 .light {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/home/scene3-light.png) center top no-repeat;
    background-sizing: 100% 100%;
    z-index: 1;
}

.scene3 .scene3-font {
    position: relative;
    z-index: 2;
    top: 23%;
}

.scene3 .scene3-font h3 {
    font-size: 60px;
    color: #b9843d;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene3 .scene3-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333333;
}

.scene3 .scene3-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene3 .scene3-font .icon {
    position: relative;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -226px;
    z-index: 3;
}

.scene3 .scene3-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene3 .scene3-font .icon ul li:first-child {
    background-image: url(../img/home/scene2-icon-safe.png);
}

.scene3 .scene3-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene1-icon-led.png);
}

.scene3 .scene3-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene1-icon-music.png);
}

.scene3 .scene3-font .icon ul li:nth-child(4) {
    background-image: url(../img/home/scene1-icon-wdj.png);
}

.scene3 .scene3-font .icon ul li:nth-child(5) {
    background-image: url(../img/home/scene3-icon-water.png);
}

.scene3 .scene3-font .icon ul li:last-child {
    margin-right: 0;
}

.scene4 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene4-bg.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene4 .round {
    position: absolute;
    left: 50%;
    top: 23%;
    margin: 0 0 0 -576px;
    width: 1152px;
    height: 60%;
}

.scene4 .round ul {
    position: relative;
    height: 100%;
}

.scene4 .round ul li {
    position: absolute;
    background-repeat: no-repeat;
}

.scene4 .round ul li:first-child {
    top: 40%;
    width: 200px;
    height: 200px;
    background-image: url(../img/home/scene4-round1.png);
}

.scene4 .round ul li:nth-child(2) {
    top: -12%;
    right: 0;
    width: 245px;
    height: 245px;
    background-image: url(../img/home/scene4-round2.png);
}

.scene4 .round ul li:nth-child(3) {
    right: 16%;
    bottom: -5%;
    width: 187px;
    height: 187px;
    background-image: url(../img/home/scene4-round3.png);
}

.scene4 .smoke {
    position: absolute;
    top: 190px;
    left: 50%;
    margin: 0 0 0 -325px;
    width: 651px;
    height: 140px;
    background-image: url(../img/home/scene4-smoke.png);
}

.scene4 .scene4-font {
    position: relative;
    top: 23%;
}

.scene4 .scene4-font h3 {
    font-size: 60px;
    color: #a4751a;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene4 .scene4-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.scene4 .scene4-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene4 .scene4-font .icon {
    position: absolute;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -175px;
}

.scene4 .scene4-font .icon ul {
    position: relative;
}

.scene4 .scene4-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene4 .scene4-font .icon ul li:first-child {
    background-image: url(../img/home/scene4-icon-cookie.png);
}

.scene4 .scene4-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene4-icon-fire.png);
}

.scene4 .scene4-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene1-icon-led.png);
}

.scene4 .scene4-font .icon ul li:nth-child(4) {
    background-image: url(../img/home/scene1-icon-music.png);
}

.scene4 .scene4-font .icon ul li:last-child {
    margin-right: 0;
}

.scene5 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene5-bg.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene5 .triangle {
    position: absolute;
    margin: 0 0 0 -675px;
    width: 1350px;
    height: 50%;
    top: 25%;
    left: 50%;
}

.scene5 .triangle li {
    position: absolute;
    background-repeat: no-repeat;
}

.scene5 .triangle li:first-child {
    width: 156px;
    height: 141px;
    background-image: url(../img/home/scene5-Triangle7.png);
}

.scene5 .triangle li:nth-child(2) {
    top: 127px;
    left: 280px;
    width: 102px;
    height: 66px;
    background-image: url(../img/home/scene5-Triangle1.png);
}

.scene5 .triangle li:nth-child(3) {
    right: 174px;
    width: 110px;
    height: 100px;
    background-image: url(../img/home/scene5-Triangle4.png);
}

.scene5 .triangle li:nth-child(4) {
    left: -38px;
    top: 280px;
    width: 109px;
    height: 91px;
    background-image: url(../img/home/scene5-Triangle3.png);
}

.scene5 .triangle li:nth-child(5) {
    left: 280px;
    bottom: 0;
    width: 107px;
    height: 69px;
    background-image: url(../img/home/scene5-Triangle5.png);
}

.scene5 .triangle li:nth-child(6) {
    right: 254px;
    bottom: 40px;
    width: 115px;
    height: 92px;
    background-image: url(../img/home/scene5-Triangle2.png);
}

.scene5 .triangle li:nth-child(7) {
    top: 230px;
    right: 0;
    width: 115px;
    height: 92px;
    background-image: url(../img/home/scene5-Triangle6.png);
}

.scene5 .scene5-font {
    position: relative;
    top: 23%;
}

.scene5 .scene5-font h3 {
    font-size: 60px;
    color: #6a00cd;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene5 .scene5-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #481360;
}

.scene5 .scene5-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene5 .scene5-font .icon {
    position: absolute;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -226px;
}

.scene5 .scene5-font .icon ul {
    position: relative;
}

.scene5 .scene5-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene5 .scene5-font .icon ul li:first-child {
    background-image: url(../img/home/scene5-icon-game.png);
}

.scene5 .scene5-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene5-icon-movie.png);
}

.scene5 .scene5-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene5-icon-music.png);
}

.scene5 .scene5-font .icon ul li:nth-child(4) {
    background-image: url(../img/home/scene5-icon-teach.png);
}

.scene5 .scene5-font .icon ul li:nth-child(5) {
    background-image: url(../img/home/scene5-icon-led.png);
}

.scene5 .scene5-font .icon ul li:last-child {
    margin-right: 0;
}

.scene6 {
    position: relative;
    height: 100%;
    background-image: url(../img/home/scene6-bg1.jpg);
    background-position: center 0;
    text-align: center;
    background-size: cover;
}

.scene6 .scene6-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/home/scene6-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    z-index: 1;
}

.scene6 .scene6-font {
    position: relative;
    top: 23%;
    z-index: 2;
}

.scene6 .scene6-font h3 {
    font-size: 60px;
    color: #81c6ff;
    margin: 0 0 20px 0;
    padding: 0 0 4% 0;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene6 .scene6-font p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #81c6ff;
}

.scene6 .scene6-font p.last-child {
    padding-bottom: 25px;
    background: url(../img/home/font-dash-line.png) center bottom no-repeat;
}

.scene6 .scene6-font .icon {
    position: absolute;
    bottom: -25%;
    left: 50%;
    margin: 0 0 0 -226px;
    z-index: 3;
}

.scene6 .scene6-font .icon ul {
    position: relative;
}

.scene6 .scene6-font .icon ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 53px;
}

.scene6 .scene6-font .icon ul li:first-child {
    background-image: url(../img/home/scene6-icon-trends.png);
}

.scene6 .scene6-font .icon ul li:nth-child(2) {
    background-image: url(../img/home/scene6-icon-water.png);
}

.scene6 .scene6-font .icon ul li:nth-child(3) {
    background-image: url(../img/home/scene6-icon-music.png);
}

.scene6 .scene6-font .icon ul li:nth-child(4) {
    background-image: url(../img/home/scene6-icon-sleep.png);
}

.scene6 .scene6-font .icon ul li:nth-child(5) {
    background-image: url(../img/home/scene6-icon-wdj.png);
}

.scene6 .scene6-font .icon ul li:last-child {
    margin-right: 0;
}
/*
场景1三角形动画配置
*/
.scene1.animation .triangle li:first-child {
    animation: scene1Triangle1 0.3s;
    animation-fill-mode:backwards;  /*在动画显示之前，应用开始属性值，若不指定该属性则delay时在IE执行动画前会倒序播放该动画*/
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.scene1.animation .triangle li:nth-child(2) {
    animation: scene1Triangle2 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.scene1.animation .triangle li:nth-child(3) {
    animation: scene1Triangle3 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.scene1.animation .triangle li:nth-child(4) {
    animation: scene1Triangle4 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
/*场景一字体和图标动画配置*/
.scene1.animation .scene1-font {
    animation: scene1-font 0.6s;
}

.scene1.animation .icon  {
    animation: scene1-icon 0.6s;
    animation-fill-mode:backwards;
    animation-delay: 0.6s;
}

.scene1.animation .icon ul li:first-child {
    animation: scene1-icon1 0.3s;
    animation-delay: 0.6s;
}

.scene1.animation .icon ul li:nth-child(2) {
    animation: scene1-icon2 0.3s;
    animation-delay: 0.7s;
}

.scene1.animation .icon ul li:nth-child(3) {
    animation: scene1-icon3 0.3s;
    animation-delay: 0.8s;
}

.scene1.animation .icon ul li:nth-child(4) {
    animation: scene1-icon4 0.3s;
    animation-delay: 0.9s;
}
.btn-scroll[animation="1"]{
    animation:btn-scroll1 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}
@keyframes scene1Triangle1 {
    from {
        left: 20%;
        top: 40%;
        opacity: 0;
    }

    to {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

@keyframes scene1Triangle2 {
    from {
        right: 23%;
        top: 27%;
        opacity: 0;
    }

    to {
        right: 3%;
        top: 7%;
        opacity: 1;
    }
}

@keyframes scene1Triangle3 {
    from {
        left: 40%;
        top: 36%;
        opacity: 0;
    }

    to {
        left: 20%;
        top: 76%;
        opacity: 1;
    }
}

@keyframes scene1Triangle4 {
    from {
        bottom: 30%;
        right: 37%;
        opacity: 0;
    }

    to {
        bottom: 10%;
        right: 17%;
        opacity: 1;
    }
}

@keyframes scene1-font {
    0% {
        top: 40%;
    }

    100% {
        top: 23%;
    }
}

@keyframes scene1-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene1-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene1-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene1-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene1-icon4 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes btn-scroll1{  /*一个元素不能使用同一个keyframes*/
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.scene2.animation .light li:first-child {
    animation: scene2-light1 0.4s;
    animation-fill-mode:backwards;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}

.scene2.animation .light li:nth-child(2) {
    animation: scene2-light2 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.scene2.animation .scene2-font {
    animation: scene2-font 0.6s;
    animation-fill-mode:backwards;
}

.scene2.animation .icon{
    animation: scene2-icon 0.5s;
    animation-fill-mode:backwards;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene2.animation .icon ul li:first-child {
    animation: scene2-icon1 0.3s;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene2.animation .icon ul li:nth-child(2) {
    animation: scene2-icon2 0.3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}

.scene2.animation .icon ul li:nth-child(3) {
    animation: scene2-icon3 0.3s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

.btn-scroll[animation="2"]{
    animation:btn-scroll2 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}

@keyframes scene2-light1 {
    from {
        top: 70%;
    }

    to {
        top: 35%;
    }
}

@keyframes scene2-light2 {
    from {
        top: 45%;
    }

    to {
        top: 10%;
    }
}

@keyframes scene2-font {
    from {
        top: 43%;
        opacity: 0;
    }

    to {
        top: 23%;
        opacity: 1;
    }
}

@keyframes scene2-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene2-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene2-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene2-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes btn-scroll2{
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.scene3.animation .light {
    animation: scene3-light 1.2s;
    animation-fill-mode:backwards;
}

.scene3.animation .scene3-font {
    animation: scene3-font 0.6s;
    animation-fill-mode:backwards;
}

.scene3.animation .icon{
    animation: scene3-icon 0.7s;
    animation-fill-mode:backwards;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene3.animation .icon ul li:first-child {
    animation: scene3-icon1 0.3s;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene3.animation .icon ul li:nth-child(2) {
    animation: scene3-icon2 0.3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}

.scene3.animation .icon ul li:nth-child(3) {
    animation: scene3-icon3 0.3s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

.scene3.animation .icon ul li:nth-child(4) {
    animation: scene3-icon4 0.3s;
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

.scene3.animation .icon ul li:nth-child(5) {
    animation: scene3-icon5 0.3s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.btn-scroll[animation="3"]{
    animation:btn-scroll3 0.2s;
    animation-fill-mode:backwards;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

@keyframes scene3-light {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scene3-font {
    from {
        top: 43%;
    }

    to {
        top: 23%;
    }
}

@keyframes scene3-icon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scene3-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene3-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene3-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene3-icon4 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -12px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene3-icon5 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}
@keyframes btn-scroll3{
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.scene4.animation .round ul li:first-child {
    animation: scene4-round1 linear 0.4s;
}

.scene4.animation .round ul li:nth-child(2) {
    animation: scene4-round2 linear 0.6s;
}

.scene4.animation .round ul li:nth-child(3) {
    animation: scene4-round3 linear 0.4s;
}

.scene4.animation .smoke {
    animation: scene4-smoke 0.2s;
    animation-fill-mode:backwards;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.scene4.animation .scene4-font {
    animation: scene4-font 0.6s;
}

.scene4.animation .icon {
    animation: scene4-icon 0.7s;
    animation-fill-mode:backwards;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene4.animation .icon ul li:first-child {
    animation: scene4-icon1 0.4s;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene4.animation .icon ul li:nth-child(2) {
    animation: scene4-icon2 0.4s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}

.scene4.animation .icon ul li:nth-child(3) {
    animation: scene4-icon3 0.4s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

.scene4.animation .icon ul li:nth-child(4) {
    animation: scene4-icon4 0.4s;
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}
.btn-scroll[animation="4"]{
    animation:btn-scroll4 0.2s;
    animation-fill-mode:backwards;
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

@keyframes scene4-round1 {
    0% {
        transform: scale(0.5, 0.5);
    }

    20% {
        transform: scale(0.8, 0.8);
    }

    40% {
        transform: scale(1.2, 1.2);
    }

    60% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scene4-round2 {
    0% {
        transform: scale(0.5, 0.5);
    }

    20% {
        transform: scale(0.8, 0.8);
    }

    40% {
        transform: scale(1.2, 1.2);
    }

    60% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scene4-round3 {
    0% {
        transform: scale(0.5, 0.5);
    }

    20% {
        transform: scale(0.8, 0.8);
    }

    40% {
        transform: scale(1.2, 1.2);
    }

    60% {
        transform: scale(0.6, 0.6);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scene4-smoke {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scene4-font {
    from {
        top: 43%;
    }

    to {
        top: 23%;
    }
}

@keyframes scene4-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene4-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene4-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene4-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene4-icon4 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes btn-scroll4{
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.scene5.animation .triangle ul li:first-child {
    animation: scene5-triangle1 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(2) {
    animation: scene5-triangle2 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(3) {
    animation: scene5-triangle3 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(4) {
    animation: scene5-triangle4 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(5) {
    animation: scene5-triangle5 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(6) {
    animation: scene5-triangle6 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .triangle ul li:nth-child(7) {
    animation: scene5-triangle7 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .scene5-font {
    animation: scene5-font 0.3s;
    animation-fill-mode:backwards;
}

.scene5.animation .icon {
    animation: scene5-icon 0.9s;
    animation-fill-mode:backwards;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.scene5.animation .icon ul li:first-child {
    animation: scene5-icon1 0.5s;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
}

.scene5.animation .icon ul li:nth-child(2) {
    animation: scene5-icon2 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

.scene5.animation .icon ul li:nth-child(3) {
    animation: scene5-icon3 0.5s;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene5.animation .icon ul li:nth-child(4) {
    animation: scene5-icon4 0.5s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}

.scene5.animation .icon ul li:nth-child(5) {
    animation: scene5-icon5 0.5s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

.btn-scroll[animation="5"]{
    animation:btn-scroll5 0.3s;
    animation-fill-mode:backwards;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

@keyframes scene5-triangle1 {
    from {
        transform: translate(60px, 60px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle2 {
    from {
        transform: translate(60px, 90px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle3 {
    from {
        transform: translate(-60px, 60px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle4 {
    from {
        transform: translate(80px, -60px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle5 {
    from {
        transform: translate(40px, -100px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle6 {
    from {
        transform: translate(-110px, -110px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-triangle7 {
    from {
        transform: translate(-60px, 60px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes scene5-font {
    from {
        top: 43%;
    }

    to {
        top: 23%;
    }
}

@keyframes scene5-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene5-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene5-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene5-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene5-icon4 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene5-icon5 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes btn-scroll5{
    0% {
        transform: translate(0, 70px);
    }

    100% {
        transform: translate(0, 0);
    }
}
.scene6.animation .scene6-bg2 {
    animation: scene6-bg2 1.5s;
}

.scene6.animation .scene6-font {
    animation: scene6-font 0.6s;
    animation-fill-mode:backwards;
}

.scene6.animation .scene6-font h3 {
    animation: scene6-font-h3 1.5s;
}

.scene6.animation .scene6-font p {
    animation: scene6-font-p 1.5s;
}

.scene6.animation .icon{
    animation: scene6-icon 0.7s;
    animation-fill-mode:backwards;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene6.animation .icon ul li:first-child {
    animation: scene6-icon1 0.3s;
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.scene6.animation .icon ul li:nth-child(2) {
    animation: scene6-icon2 0.3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}

.scene6.animation .icon ul li:nth-child(3) {
    animation: scene6-icon3 0.3s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
}

.scene6.animation .icon ul li:nth-child(4) {
    animation: scene6-icon4 0.3s;
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

.scene6.animation .icon ul li:nth-child(5) {
    animation: scene6-icon5 0.3s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

@keyframes scene6-bg2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene6-font {
    from {
        top: 43%;
    }

    to {
        top: 23%;
    }
}

@keyframes scene6-font-h3 {
    from {
        color: #fff;
    }

    to {
        color: #81c6ff;
    }
}

@keyframes scene6-font-p {
    from {
        color: #fff;
    }

    to {
        color: #81c6ff;
    }
}

@keyframes scene6-icon {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scene6-icon1 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene6-icon2 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene6-icon3 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene6-icon4 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes scene6-icon5 {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: -10px;
    }

    100% {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1360px) {
    .banner .banner-font {
        width: 500px;
        height: 250px;
        margin: 0 auto 20px;
    }

    .banner p {
        width: 750px;
        height: 38px;
    }
}

